#container {
  display: -ms-grid;
  display: grid;
  position: absolute;
  -ms-grid-columns: 1;
      grid-template-columns: 1;
  -ms-grid-rows: minmax(200px auto) 400px minmax(300px, auto);
      grid-template-rows: minmax(200px auto) 400px minmax(300px, auto);
      grid-template-areas: "home" "nav" "about-section"  "skills" "portfolio"  "blog-section" "footer";
  width: 100vw;
}

body {
  margin: 0px;
}

/* Start navigation */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  background: deepskyblue;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0px;
  border-bottom: 2px solid #000;
  border-top: 2px solid #d5e40a;
  -webkit-animation: 3s ease-out 0s 1 navSlideLeft;
          animation: 3s ease-out 0s 1 navSlideLeft;
  overflow: hidden;
}

nav a {
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
  color: white;
  text-transform: uppercase;
  padding: 0.5rem;
  background: deepskyblue;
  position: relative;
  overflow: hidden;
}

/* add lines in the form of background colors in preparation for transition on hover */
nav a:before {
  content: '';
  position: absolute;
  background: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  left: 50%;
  top: 2%;
  z-index: 15;
  width: 5%;
  height: 5%;
  overflow: hidden;
}

nav a:after {
  content: '';
  position: absolute;
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  left: 49%;
  bottom: 3%;
  z-index: 15;
  width: 10%;
  height: 5%;
  overflow: hidden;
}

/* Expand background for hover animation/transition to look like pressed button */
nav a:hover:before {
  left: 0%;
  width: 100%;
  height: 90%;
  z-index: 15;
  background: rgba(7, 202, 176, 0.2);
  border-radius: 10px;
  border-top: 2px solid black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
}

nav a:hover:after {
  left: -1%;
  width: 100%;
  height: 90%;
  z-index: 14;
  background: rgba(245, 245, 245, 0.35);
  border-radius: 10px;
  border-bottom: 2px solid #faf9f9;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
}

nav li {
  list-style: none;
  font-size: larger;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0);
}

nav a:visited {
  color: floralwhite;
}

nav .span {
  display: hidden;
}

@-webkit-keyframes navSlideLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  95% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  97% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  99% {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navSlideLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  95% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  97% {
    -webkit-transform: translateX(-3%);
            transform: translateX(-3%);
  }
  99% {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

h1 {
  color: darkslategray;
  font-family: 'MedievalSharp', cursive;
}

#about-section {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: about-section;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: '';
  width: 100%;
  min-height: 80vh;
  position: relative;
  background: rgba(243, 149, 56, 0.7) url(media/coder-bg.jpg);
  background-blend-mode: overlay;
  background-size: cover;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.about {
  position: relative;
  content: '';
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: row-reverse;
      flex-flow: row-reverse;
  left: 0;
}

.about-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid white;
  border-radius: 15px;
  width: 80%;
  height: 60vh;
  position: absolute;
  left: 5%;
  top: 5%;
  padding: 1em 1em 0em 3em;
  background: black;
  -webkit-animation: 2.0s ease-in 0s 1 aboutSlideRight;
          animation: 2.0s ease-in 0s 1 aboutSlideRight;
  opacity: 90%;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  margin: 5%;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: row-reverse;
      flex-flow: row-reverse;
  overflow: hidden;
}

@-webkit-keyframes aboutSlideRight {
  0% {
    -webkit-transform: scale(0.1) translateX(150%);
            transform: scale(0.1) translateX(150%);
    opacity: 0%;
  }
  100% {
    -webkit-transform: scale(1) translateX(0%);
            transform: scale(1) translateX(0%);
    opacity: 90%;
  }
}

@keyframes aboutSlideRight {
  0% {
    -webkit-transform: scale(0.1) translateX(150%);
            transform: scale(0.1) translateX(150%);
    opacity: 0%;
  }
  100% {
    -webkit-transform: scale(1) translateX(0%);
            transform: scale(1) translateX(0%);
    opacity: 90%;
  }
}

.about-card h1 {
  position: absolute;
  top: 5px;
  left: 20px;
  background: whitesmoke;
  border-radius: 5px;
  padding: 30px;
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
}

.about-card p {
  position: absolute;
  bottom: 5%;
  color: #3AD2FF;
  font-size: 1.5em;
  padding: 3rem;
  background-color: #0d5692;
  margin: 15px;
  max-width: 60vh;
  -webkit-animation: 3.0s ease-in 0s 1 scroll;
          animation: 3.0s ease-in 0s 1 scroll;
  border: 2px solid white;
  overflow: hidden;
}

.about-card p:hover {
  color: #fbfbfb;
  background-color: #08355a;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
  padding: 3.5rem;
  border: 2px solid white;
}

@-webkit-keyframes scroll {
  0% {
    bottom: -50%;
  }
  100% {
    bottom: 5%;
  }
}

@keyframes scroll {
  0% {
    bottom: -50%;
  }
  100% {
    bottom: 5%;
  }
}

.about-info {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  content: '';
  width: 80vh;
  min-height: 80vh;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  overflow: hidden;
}

.about-info h1:hover {
  -webkit-transform: skewX(25deg);
          transform: skewX(25deg);
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
  background-color: #e9e060;
}

.about-card img {
  width: 20vw;
  height: 20vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: absolute;
  right: 20%;
  top: 5%;
  border: 8px solid #6fcffc;
}

.about-card img:hover {
  width: 21vw;
  height: 21vw;
  -webkit-transition: ease-in .2s;
  transition: ease-in .2s;
  border: 1px solid #6fcffc;
}

#skills {
  background-color: black;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: skills;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  overflow: hidden;
}

#skills img {
  width: 50%;
}

#skills p {
  color: white;
}

.graph-cont {
  width: calc(100% - 2em);
  max-width: 800px;
  margin: 0 auto;
}

h3 {
  text-align: center;
  color: #99aec2;
}

.bar {
  height: 30px;
  max-width: 800px;
  margin: 0 auto 10px auto;
  line-height: 30px;
  font-size: 16px;
  color: white;
  padding: 0 0 0 10px;
  position: relative;
}

.bar p {
  z-index: 5;
  color: black;
  position: relative;
  -ms-flex-item-align: right;
      -ms-grid-row-align: right;
      align-self: right;
}

.bar::before {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 32px;
  top: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#ee8b0a), color-stop(grey), color-stop(green), to(green)), url("media/grid-vector.svg");
  background-image: linear-gradient(to right, #ee8b0a, grey, green, green), url("media/grid-vector.svg");
  background-size: cover;
  background-blend-mode: hard-light;
  border-radius: 15px;
}

.bar::after {
  content: '';
  background: rgba(11, 202, 139, 0.829);
  height: 30px;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  display: block;
  width: 100%;
  -webkit-animation: bar-before 1 2.8s;
          animation: bar-before 1 2.8s;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid white;
  border-radius: 15px;
  -webkit-box-shadow: 5px 0px 5px #10f595, 10px 0px 5px #10f595;
          box-shadow: 5px 0px 5px #10f595, 10px 0px 5px #10f595;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.bar:hover:after {
  -webkit-animation: bar-bounce 2s ease;
          animation: bar-bounce 2s ease;
}

.bar::after p {
  z-index: 5;
  color: black;
  position: relative;
}

.bar1::after {
  max-width: 80%;
}

.bar2::after {
  max-width: 92%;
}

.bar3::after {
  max-width: 79%;
}

.bar4::after {
  max-width: 30%;
}

.bar5::after {
  max-width: 10%;
}

.bar6::after {
  max-width: 10%;
}

.bar7::after {
  max-width: 65%;
}

.bar8::after {
  max-width: 75%;
}

.bar9::after {
  max-width: 30%;
}

@-webkit-keyframes bar-before {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@keyframes bar-before {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes bar-bounce {
  0% {
    max-width: 50%;
  }
  25% {
    max-width: 40%;
  }
  100% {
    max-width: 50%;
  }
}

@keyframes bar-bounce {
  0% {
    max-width: 50%;
  }
  25% {
    max-width: 40%;
  }
  100% {
    max-width: 50%;
  }
}

#portfolio {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: portfolio;
  background-color: #13bee9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
  padding: 1em;
}

#portfolio p {
  color: #fff;
}

.box p {
  position: relative;
  margin: 0% 20%;
  padding: 10px;
  display: inline-block;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  background-color: rgba(44, 43, 43, 0.2);
}

.gallery {
  position: relative;
  width: 95%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery h1 {
  font-size: 2.2em;
  color: White;
  position: relative;
  left: 45%;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.gallery ol {
  list-style: none;
  width: inherit;
}

.gallery li {
  position: relative;
  width: inherit;
  height: 300px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-box-shadow: inset 20px 20px 20px 20px  fff;
          box-shadow: inset 20px 20px 20px 20px  fff;
}

.gallery li:nth-child(1) {
  background-image: url(media/yowii-website-screen.jpg);
}

.gallery li:nth-child(2) {
  background-image: url(media/techsick.jpg);
}

.gallery li:nth-child(3) {
  background-image: url(media/mirai-AR-demo.jpg);
}

.gallery li:nth-child(4) {
  background-image: url(media/rps.jpg);
}

.gallery li:nth-child(5) {
  background-image: url(media/code-encode.jpg);
}

.gallery a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 43, 43, 0.2);
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 15px;
  color: #fff;
  text-shadow: 0 0 2px rgba(13, 204, 211, 0.5);
  background-color: rgba(2, 77, 121, 0.9);
  border-radius: 5px 5px  0px 0px;
}

.info h3 {
  font-size: 2em;
  color: whitesmoke;
}

.info p {
  font-size: 0.9em;
}

/* Viewport >= 420px */
@media screen and (min-width: 420px) {
  .gallery li {
    height: 400px;
  }
}

/* Viewport >= 620px */
@media screen and (min-width: 620px) {
  .gallery li {
    float: left;
    width: 50%;
  }
  .gallery li:first-child {
    width: 100%;
  }
}

/* Viewport >= 800px */
@media screen and (min-width: 800px) {
  .gallery {
    margin: 50px auto 0;
  }
  .gallery ol {
    height: 420px;
  }
  .gallery li {
    width: 25%;
    height: 50%;
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
  }
  .gallery li:first-child {
    width: 50%;
    height: 100%;
  }
  .gallery li:first-child h3 {
    font-size: 1.8em;
  }
  .gallery li:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    z-index: 5;
  }
  .gallery a {
    -webkit-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
  }
  .gallery a:hover {
    background-color: rgba(0, 0, 0, 0);
  }
  .info h3 {
    font-size: 1.2em;
  }
}

@-webkit-keyframes light {
  to {
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
}

@keyframes light {
  to {
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
}

@media all and (max-width: 800px) {
  .nav-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    background: deepskyblue;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: nav;
    z-index: 10;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100vw;
    padding: 0px;
    border-bottom: 2px solid #000;
    border-top: 2px solid #d5e40a;
    -webkit-animation: 2s ease-out 0s 1 navSlideLeft;
            animation: 2s ease-out 0s 1 navSlideLeft;
  }
  .hide {
    display: none;
  }
  .icon {
    color: black;
    width: 2em;
  }
  .about-card p {
    position: absolute;
    bottom: 10%;
    color: #3AD2FF;
    font-size: 0.5em;
    padding: 3rem;
    background-color: #eeeff5;
    margin: 15px;
    max-width: 60vh;
  }
  .about-card img {
    width: 40vw;
    height: 40vw;
    -o-object-fit: cover;
       object-fit: cover;
    background-blend-mode: overlay;
    border-radius: 50%;
    position: absolute;
    right: 20%;
    top: 25%;
  }
}

@media all and (min-width: 801px) {
  .icon {
    display: none;
  }
  .container {
    width: 200%;
  }
}

#blog-section {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: blog-section;
  background-color: #999898;
}

.blog {
  position: relative;
  width: 80%;
  background-color: ivory;
  border-radius: 15px;
  border: 5px solid black;
  padding-bottom: 10px;
}

.blog-intro {
  position: relative;
  margin: 0px 25%;
  padding: 20px;
  display: inline-block;
  border-left: 10px solid #07e0f0;
  border-right: 10px solid #07e0f0;
  border-bottom: 10px solid #07e0f0;
  background-color: rgba(44, 43, 43, 0.32);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 0px 20px 20px;
  -webkit-box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.6), inset -5px -15px 5px 10px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.6), inset -5px -15px 5px 10px rgba(0, 0, 0, 0.6);
}

.blog h1 {
  display: inline-block;
  font-size: 2.2em;
  padding: 10px;
  color: black;
  position: relative;
  left: 40%;
  -webkit-animation: 6s ease-in-out 0s infinite drift;
          animation: 6s ease-in-out 0s infinite drift;
  border: 5px solid black;
  border-radius: 15px;
  font-size: 3em;
}

/* floaty drift effect */
@-webkit-keyframes drift {
  0% {
    -webkit-box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 5px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(10px);
            transform: translatey(10px);
  }
}
@keyframes drift {
  0% {
    -webkit-box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 25px 15px 5px rgba(0, 0, 0, 0.2);
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.6);
            box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(10px);
            transform: translatey(10px);
  }
}

.blog ol {
  list-style: none;
  width: inherit;
  position: relative;
}

.blog li {
  position: relative;
  width: inherit;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.blog li:nth-child(1) {
  background-color: black;
}

.blog li:nth-child(2) {
  background-image: url(media/techsick.jpg);
}

.blog li:nth-child(3) {
  background-image: url(media/mirai-AR-demo.jpg);
}

.blog a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 43, 43, 0.2);
}

/* Viewport >= 420px */
@media screen and (min-width: 420px) {
  .blog li {
    height: 400px;
  }
}

/* Viewport >= 620px */
@media screen and (min-width: 620px) {
  .blog li {
    float: left;
    width: 50%;
  }
  .blog li:first-child {
    width: 100%;
  }
}

/* Viewport >= 800px */
@media screen and (min-width: 800px) {
  .blog {
    margin: 50px auto 0;
  }
  .blog ol {
    height: 420px;
  }
  .blog li {
    width: 45%;
    height: 50%;
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
    margin: 0% 1%;
  }
  .blog li:first-child {
    width: 50%;
    height: 100%;
  }
  .blog li:first-child h3 {
    font-size: 1.8em;
  }
  .blog li:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    z-index: 5;
  }
  .blog a {
    -webkit-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
  }
  .blog a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .info h3 {
    font-size: 1.2em;
  }
}

#footer {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: footer;
  overflow: hidden;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  background: deepskyblue;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: footer;
  z-index: 10;
  bottom: 0;
  width: 100%;
  padding: 20px;
  border-bottom: 2px solid #000;
  border-top: 2px solid #d5e40a;
  overflow: hidden;
}

.footer a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  padding: 0.5rem;
  background: deepskyblue;
  position: relative;
  overflow: hidden;
}

.footer a:hover {
  text-shadow: 1px 0px 8px floralwhite, 1px 0px 8px floralwhite;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
/*# sourceMappingURL=style.css.map */