#container {
    display: grid;
    position: absolute;
    grid-template-columns: auto;
    grid-template-rows: minmax(200px auto) 400px minmax(300px, auto);
    grid-template-areas: 
        "home"
        "nav"
        "about-section" 
        "portfolio" 
        "skills"
        "blog-section"
        "footer";
    width: 100vw;
}
body {
    
    margin:0px;
}

  nav {
    display: flex;
    list-style: none;
    margin: 0; 
    background: deepskyblue;
    flex-flow: row wrap;
    justify-content: center;
    grid-area: nav;
    z-index: 10;
    position: sticky;
    top: 0;
    width:100%;
    padding: 0px;
    border-bottom: 2px solid #000;
    border-top: 2px solid rgb(213, 228, 10);
    animation: 2s ease-out 0s 1 navSlideLeft;
    
  }
  nav a {
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    color: white;
    text-transform: uppercase;
    padding: 0.5rem;
    background: deepskyblue;
    position: relative;

  }
  nav a:before {
    content:'';
    position: absolute;
    background: #000;
    transition: 0.5s;
    transition-delay: 0.4s;
    left: 50%;
    top: 2%;
    z-index: 15;
    width: 5%;
    height: 5%;
  }

  nav a:after {
    content:'';
    position: absolute;
    background: rgb(255, 255, 255);
    transition: 0.5s;
    transition-delay: 0.5s;
    left: 49%;
    bottom: 3%;
    z-index: 15;
    width: 10%;
    height: 5%;
  }
  nav a:hover:before {
    left:0%;
    width: 100%;
    height: 90%;
    z-index: 15;
    background: rgba(7, 202, 176, 0.2);
    border-radius: 10px;
    border-top: 2px solid black;
    transition: 0.2s;
  }
  nav a:hover:after {
    left:-1%;
    width: 100%;
    height: 90%;
    z-index: 14;
    background: rgba(245,245,245,0.35);
    border-radius: 10px;
    border-bottom: 2px solid rgb(250, 249, 249);
    transition: 0.2s;
  }

  nav li {
    list-style: none;
    font-size: larger;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0);
  }
  nav a:visited{
    
        color: floralwhite;
  }
  nav .span {
    display: hidden;
  }


h1 {
    color: darkslategray;
    font-family: 'MedievalSharp', cursive;
}
#about-section {
  grid-area: about-section;
  display: flex;  
  content: '';
  width: 100%;
  min-height: 80vh;
  position: relative;
  background: rgba(243, 149, 56, 0.7) 
              url(/media/coder-bg.jpg);
  background-blend-mode: overlay;
  background-size: cover;
  justify-content: space-between;
  flex-direction: column;
  flex-flow: column wrap;
  flex-wrap: wrap;
}

.about {
    
    display: flex;
    position: relative;  
    content: '';
    justify-content: space-between;
    flex-direction: column;
    flex-flow: row-reverse;
    
    left: 0;
}
.about-card {
    display: flex;
    border: 3px solid white;
    border-radius: 15px;
    width: 80vw;
    height: 60vh;
    position: absolute;
    left: 5%;
    top: 5%;
    padding: 1em 1em 0em 3em;
    background: black;
    animation: 2.0s ease-in 0s 1 aboutSlideRight;
    opacity: 90%;
    transform: translateX(0%);
    margin: 5%;
    flex-basis: auto;
    justify-content: space-evenly;
    flex-direction: column;
    flex-flow: row-reverse;
     
}
@keyframes navSlideLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes aboutSlideRight {
    0% {
      transform: scale(0.1) translateX(150%);
      opacity: 0%;
    }
    100% {
      transform: scale(1.0) translateX(0%);
      opacity: 90%;
    }
  }

.about-card h1 {
    position: absolute;
    top: 5px;
    background: rgba(245,245,245,1);
    border-radius: 5px;
    padding: 30px;
    transform: skewX(-25deg);

}

.about-card p {
    position: absolute;
    bottom: 10%;
    color: #3AD2FF;
    font-size: 1.5em;
    padding: 3rem;
    background-color: rgb(238, 239, 245);
    margin: 15px;
    max-width: 60vh;
    
}




.about-info {
    justify-content: flex-start;  
    content: '';
    width: 80vh;
    min-height: 80vh;
    position: relative;
    flex: 1 1 auto;
}

.about-card img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    background-blend-mode: overlay;
    border-radius: 50%;
    position: absolute;
    right: 20%;
    top: 5%;

}

#skills {
    background-color:rgb(0, 0, 0);
    grid-area: skills;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-flow: column wrap;
    
}
#skills img {
    width: 50%;   
}

  .graph-cont{
    width: calc(100% - 2em);
    
    max-width: 800px;
    margin: 0 auto;
  }
  h3{
    text-align: center;
    color: #34495e;
  }
  .bar{
    height: 30px;
    max-width: 800px;
    margin: 0 auto 10px auto;
    line-height: 30px;
    font-size: 16px;
    color: white;
    padding: 0 0 0 10px;
    position: relative;
  }
  .bar p {
    z-index: 5;
    color: rgb(0, 0, 0);
    position: relative;
    align-self: right;
  }
  .bar::before{
    content:'';
    width: 100%;
    position: absolute;
    left: 0;
    height: 32px;
    top: 0;
    background-image: linear-gradient(to right, rgb(238, 139, 10), grey, green, green),
                      url("media/grid-vector.svg");
                      background-size:cover;
  background-blend-mode: hard-light;
    border-radius: 15px;
  }
  .bar::after{
    content: '';
    background: rgba(11, 202, 139, 0.829);
    height: 30px;
    transition: 1.2s;
    display: block;
    width: 100%;
    animation: bar-before 1 2.8s;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 5px 0px 5px rgb(16, 245, 149),
                10px 0px 5px rgb(16, 245, 149);
    overflow: hidden;
    display: flex;
    align-content: space-between;
    
  }
  .bar:hover:after{
    animation: bar-bounce 2s ease; 
  
  }
  .bar::after p{
    z-index: 5;
    color: rgb(0, 0, 0);
    position: relative; 
  }
  .bar1::after{
    max-width: 80%;
  }
  .bar2::after{
    max-width: 92%;
  }
  .bar3::after{
    max-width: 79%;
  }
  .bar4::after{
    max-width: 30%;
  }
  .bar5::after{
    max-width: 10%;
  }
  .bar6::after{
    max-width: 10%;
  }
  .bar7::after{
    max-width: 65%;
  }
  .bar8::after{
    max-width: 75%;
  }
  .bar9::after{
    max-width: 30%;
  }
  @keyframes bar-before{
    0%{
      width: 0px;
    }
    100%{
      width: 100%;
    }
  }

  @keyframes bar-bounce{
    0%{
      max-width: 50%;
    }
    25%{
      max-width: 40%;
    }
    100%{
      max-width: 50%;
    }
  }
  
   

#portfolio { 
    grid-area: portfolio;
    background-color:rgb(19, 190, 233);
    display: flex;
    align-content: flex-start;
    
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: 1em;
}

#portfolio p { 
    color:#fff;
}
#footer { 
    grid-area: footer;
}

.box {
  width: 50vh;
  position: relative;
  align-self: center;
}
.gallery {
  position: relative;
  width: 100%;
  max-width: 800px;
}
.gallery h1 {
  display: inline-block;
  font-size: 2.2em;
  padding: 10px;
  color: White;
}
.gallery ol {
  list-style: none;
  width: inherit;
}
.gallery li {
  position: relative;
  width: inherit;
  height: 300px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.gallery li:nth-child(1) {
  background-image: url(media/yowii-website-screen.jpg);   
}
.gallery li:nth-child(2) {
  background-image: url(media/techsick.jpg);
}
.gallery li:nth-child(3) {
  background-image: url(media/mirai-AR-demo.jpg);
}
.gallery li:nth-child(4) {
  background-image: url(media/rps.jpg);
}
.gallery li:nth-child(5) {
  background-image: url(media/code-encode.jpg);  
}
.gallery a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 43, 43, 0.2);
}
.info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 15px;
  color: #fff;
  text-shadow: 0 0 2px rgba(13, 204, 211, 0.5);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}
.info h3 {
  font-size: 2em;
  color: whitesmoke
}
.info p {
  font-size: 0.9em;
}

/* Viewport >= 420px */

@media screen and (min-width: 420px) {
  .gallery li {
      height: 400px;
  }
}

/* Viewport >= 620px */

@media screen and (min-width: 620px) {
  .gallery li {
      float: left;
      width: 50%;
  }
  .gallery li:first-child {
      width: 100%;
  }
}

/* Viewport >= 800px */

@media screen and (min-width: 800px) {
  .gallery {
      margin: 50px auto 0;
  } 
  .gallery ol {
      height: 420px;
  }
  .gallery li {
      width: 25%;
      height: 50%;
      transition: transform 500ms ease;
  }
  .gallery li:first-child {
      width: 50%;
      height: 100%;
  }
  .gallery li:first-child h3 {
      font-size: 1.8em;
  }
  .gallery li:hover {
      transform: scale(1.3);
      z-index: 5;
  }
  .gallery a {
      transition: background-color 500ms ease;
  }
  .gallery a:hover {
      background-color: rgba(0, 0, 0, 0);
  }
  .info h3 {
      font-size: 1.2em;
  }
}


@keyframes light {
    to {
        transform: translate(50%, 50%);
    }
}

#blog {
    grid-area: blog-section;
}
@media all and (max-width: 800px) {
  .nav-small {
    display: flex;
    list-style: none;
    margin: 0; 
    background: deepskyblue;
    flex-flow: row wrap;
    justify-content: space-evenly;
    grid-area: nav;
    z-index: 10;
    position: sticky;
    top: 0;
    width:100vw;
    padding: 0px;
    border-bottom: 2px solid #000;
    border-top: 2px solid rgb(213, 228, 10);
    animation: 2s ease-out 0s 1 navSlideLeft;
    
  }
    
    .hide {
      display: none;
    }
    .icon {
      color: black;
      width: 2em;
    }
    .about-card p {
      position: absolute;
      bottom: 10%;
      color: #3AD2FF;
      font-size: 0.5em;
      padding: 3rem;
      background-color: rgb(238, 239, 245);
      margin: 15px;
      max-width: 60vh;
      
    }

    .about-card img {
    width: 40vw;
    height: 40vw;
    object-fit: cover;
    background-blend-mode: overlay;
    border-radius: 50%;
    position: absolute;
    right: 20%;
    top: 25%;

    }
    
  }



    @media all and (min-width: 801px) {
      .icon  {
        display:none;
      }
    
    
    .container {
    width: 200%;
    }
  }
  
  
  .blog {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 800px;
    align-items: center;
    flex-direction: column;
  }
  .blog h1 {
    display: inline-block;
    font-size: 2.2em;
    padding: 10px;
    color: White;
  }
  .blog ol {
    list-style: none;
    width: 50%;
  }
  .blog li {
    position: relative;
    width: inherit;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .blog li:nth-child(1) {
    background-image: url(media/yowii-website-screen.jpg);   
  }
 

  .blog a {
    position: relative;
    display: block;
    width: 100%;
    height: 50%;
    background-color: rgba(44, 43, 43, 0.2);
  }
  .info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 15px;
    color: #fff;
    text-shadow: 0 0 2px rgba(13, 204, 211, 0.5);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
  }
  .info h3 {
    font-size: 2em;
    color: whitesmoke
  }
  .info p {
    font-size: 0.9em;
  }
  
  /* Viewport >= 420px */
  
  @media screen and (min-width: 420px) {
    .blog li {
        height: 400px;
    }
  }
  
  /* Viewport >= 620px */
  
  @media screen and (min-width: 620px) {
    .blog li {
        float: left;
        width: 50%;
    }
    .blog li:first-child {
        width: 100%;
    }
  }
  
  /* Viewport >= 800px */
  
  @media screen and (min-width: 800px) {
    .blog {
        margin: 50px auto 0;
    } 
    .blog ol {
        height: 420px;
    }
    .blog li {
        width: 25%;
        height: 50%;
        transition: transform 500ms ease;
    }
    .blog li:first-child {
        width: 50%;
        height: 100%;
    }
    .blog li:first-child h3 {
        font-size: 1.8em;
    }
    .blog li:hover {
        transform: scale(1.3);
        z-index: 5;
    }
    .blog a {
        transition: background-color 500ms ease;
    }
    .blog a:hover {
        background-color: rgba(0, 0, 0, 0);
    }
    .info h3 {
        font-size: 1.2em;
    }
  }